header {
    background-color: #16BAC3;
    border: 2px solid #037979;
}

body {
    background-color: #57bbc0;
}

.img_orden {
    display: flex;
    justify-content: center;
    align-items: center;
}

.a {
    color: #6c6cff;
}

style {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row
}


button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: azure;
    margin: 20px;
    border-color: #6c6cff;
    text-decoration: none;
}

td {
    margin: 20px;
}

.btn_head {
    background-color: #d3d3da;
    border-color: black;
    size: 200px;
    border-radius: 50px;
    border: 1px solid;
    padding: 10px;
    text-decoration: none;
    background-color: azure;
    color: #191929;
    text-align: center;
    position: relative;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: auto;
    width: 60%;
}

.btn_form {
    background-color: azure;
    border-color: black;
    text-decoration: none;
    margin-top: 10px;
}

.info_met {
    border-radius: 50px;
    border: 1px solid;
    padding: 10px;
    text-decoration: none;
    margin: auto;
    background-color: rgb(235, 236, 236);
    color: #2d2d58;
}

.btn_principal {
    border-radius: 50px;
    border: 1px solid;
    padding: 10px;
    text-decoration: none;
    background-color: rgb(245, 245, 245);
    color: #000044;
    text-align: center;
    position: relative;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: auto;
    width: 60%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.tittle {
    width: 100%;
    font-size: 32px;
    margin-top: 25px;
    text-align: center;
    margin-bottom: 25px;
    margin-left: 0px;
    margin-right: 0px;
}

.p {
    text-align: center;
    justify-content: center;
    margin: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.table {
    display: flex;
    margin: auto;
}

h3 {
    align-items: flex-start;
    justify-content: center;
    padding: 10px;
    margin: auto;
}

.final {
    display: flex;
    justify-content: center;
}

.ar_final {
    flex-basis: calc(33.33% - 20px);
    margin: 5px;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ar_final_2 {
    flex-basis: calc(33.33% - 20px);
    margin: 5px;
    padding: 20px;
    border: 1px solid #ccc;
}

footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

.img_txt {
    border-color: black;
    border: 2px solid;
}

.tab {
    border: 2px solid black;

}